*,
*::before,
*::after {
  box-sizing: border-box;
}
*:not(dialog) {
  margin: 0;
}

body {
  font-family: sans-serif;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  width: 400px;
  margin: 0 auto;
  margin-top: 60px;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

button {
  margin-top: 20px;
}

input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
}

input:focus,
select:focus {
  outline-color: rgb(88, 191, 207);
}

select {
  border: none;
  background-color: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
}

button {
  border: none;
  padding: 12px;
  border-radius: 8px;
  background-color: #889c72;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #798d64;
}

.invalid {
  border: 1px solid red;
  background-color: rgb(249, 210, 210);
}

.valid {
  border: 1px solid green;
  background-color: rgb(216, 240, 216);
}

.success {
  background-color: rgb(238, 238, 232);
  width: 400px;
  padding: 60px 12px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.error-visibility {
  display: none;
}

.error {
  padding: 8px;
  font-size: 80%;
  color: white;
  background-color: #e1ac50;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
}
